body {
    font-family: sans-serif;
  }
  
  .warning {
    color: red;
  }
  
  #todo-list li {
    display: flex;
    align-items: center;
  }
  
  #todo-list li button {
    height: 30px;
  }
  
  #todo-list li p {
    padding: 0 10px;
  }
  
  #todo-list li span {
    color: red;
  }
  